#cv
{
    background-color: #808080;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%
}

#cv .cluster
{
    display: inline-block;
    margin: 6px 6px 0 0;
    padding: 0px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    border: 5px solid black;

    width: 130px;
    background-color: black;
}

#cv .cluster .correlogram
{
    text-align: center;
}

#cv .cluster .correlogram img
{
    text-align: center;
    width: 97%;
    border: 1px solid #888888;
}

#cv a
{
    color: white;
    text-decoration: none;
}

#cv a:hover .cluster
{
    color: white;
    text-decoration: none;
    border-color: red;
}

#cv .cluster .clusterinfo
{
    background-color:black;
    padding: 3px;
}

#cv .cluster .clusterinfo
{
    font-size: 12px;
}

#cv .cluster .clusterinfo .clusternumber
{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

#cv .cluster .clusterinfo .lalign
{
    float:left;
    text-align: left;
}

#cv .cluster .clusterinfo .ralign
{
    float:right;
    text-align: right;
}

#cv .cluster .clusterinfo .spikecount
{
    font-weight: bold;
}

#cv .cluster .clusterinfo .good
{
    background-color: #88ff88;
    color: black;
}

#cv .cluster .clusterinfo .medium
{
    background-color: #ffff44;
    color: black;
}

#cv .cluster .clusterinfo .bad
{
    background-color: #ff0000;
    color: white;
}
